@charset "UTF-8";
/* main.css */

main h2 {
  display: none;
}

main {
  width: 98%;
  margin: 1%;
}
main > section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
}
.imgslide {
  grid-area: 1/1/3/3;
  overflow: hidden;
}

main img {
  width: 100%;
}

.skypass {
  width: 100%;
  margin-top: 8px;
}